
<div class="well">


<img src="{{ site.url }}{{ site.baseurl }}\images\Profile.jpg" 
class="img-responsive" width="70%" style="float: center" />


<p style="font-size:14px; font-family: 'Roboto';">Office:
    Room 507, Building E1, HKUST(GZ)<br> 
    Guangzhou, China<br> 
    Email: hainingliang@hkust-gz.edu.cn <br> 
</p>


<div style="font-size:16px; font-family: 'Roboto'; line-height: 1.4;">
    <!-- Prospective Ph.D. Applicants -->
    <p style="color: red; font-weight: bold;">Prospective Ph.D. Applicants:</p>
    <p>
      Due to a high volume of email inquiries, I am unable to provide timely replies to all. 
      Please submit full PhD applications for full consideration in my thrusts (CMA or IOT). 
      I have wonderful new colleagues on board who actively look for PhD students. 
      I may supervise or co-supervise PhD students with them if there is a fit.
    </p>
  
    <p>If you have <strong>strong technical</strong> AND design skills and are <strong>truly passionate</strong> about the following topics, send me an email:</p>
    <ul style="margin-left: 5px; margin-top: 0; margin-bottom: 0; padding-left: 20px; list-style-position: inside;">
        <li style="margin-bottom: 5px;">
          <strong>Human-AI Collaborative Systems:</strong> Design novel collaborative systems between human and AI agents to tackle practical challenges in learning/education, aging, health, and accessibility.
        </li>
        <li style="margin-bottom: 5px;">
          <strong>Embodied AI Agents:</strong> Design novel interactive embodied agents (e.g., in the form of physical robots or devices) to tackle learning/education, aging, health, and accessibility challenges.
        </li>
        <li style="margin-bottom: 5px;">
          <strong>AI + Immersive Environments (VR/AR/MR):</strong> Design creative combinations of AI and immersive environments to tackle learning/education, aging, health, and accessibility challenges.
        </li>
      </ul>
      
  
    <!-- Visiting Research Students -->
    <p style="color: red; font-weight: bold;">Visiting Research Students:</p>
    <p>
      If you are a registered graduate (PhD or master's) student in another university and would like to visit my group for a short period (e.g., 3 months), I welcome you to apply to our visiting student program: 
      <a href="link">link</a>. 
      You may also send me an email with CV and transcripts. Make sure your home university and/or your academic supervisor allows you to visit.
    </p>
  
    <!-- Prospective MPhil Applicants -->
    <p style="color: red; font-weight: bold;">Prospective MPhil Applicants:</p>
    <p>
      For candidates with strong academic records but without strong research experience, I recommend they apply for our MPhil program first. 
      Our MPhil program is a fully funded research master's program, which is managed by the university. 
      Follow the instructions via this <a href="link">link</a> and apply accordingly.
    </p>
    <p>
      Accepted MPhil students have the opportunity to work with me in my group and will have better chances to be admitted into our PhD programs.
    </p>
  </div>
  


</div>
